<form action="/articles/create" method="post">
  Title: <input type="text" value="" name='title'>
  Description: <input type="text" value="" name='description'>
  Tags: <input type="text" value="" name='tags'>
  <input type="submit" value="Create Article">
  </form>